$RECYCLE.BIN/
*.cab
*.ez
*.lnk
*.msi
*.msm
*.msp
*~
.AppleDB
.AppleDesktop
.AppleDouble
.DS_Store
.DocumentRevisions-V100
.LSOverride
.Spotlight-V100
.TemporaryItems
.Trash-*
.Trashes
.VolumeIcon.icns
._*
.apdisk
.directory
.fseventsd
/_build
/deps
Desktop.ini
Icon
Network Trash Folder
Temporary Items
Thumbs.db
ehthumbs.db
